# Project PGM 2023

Deze repository bevat zowel de opgave als de startcode voor het project van Programmeren 2023.



## Beginnen

1. Start een Ubuntu terminal.
1. Download de opgave repository door onderstaande commando uit te voeren.
   
   ```bash
   git clone {{clone_url}}
   ```

1. Navigeer naar map van jullie repository en open het project in VSCode.
   
   **Belangrijk: open het project steeds door middel van het `Project.code-workspace` bestand!**

   ```bash
   $ cd {{repo.name}}
   {{repo.name}}$ code Project.code-workspace
   
   ```

1. Klik "Yes, I trust the authors" als dit gevraagd wordt.
1. Je kan nu beginnen.


## Voorbeeldoplossing

Het bestand `project_voorbeeldoplossing.exe` bevat een voorbeeldoplossing. Om deze oplossing te testen voer je volgend commando uit in Ubuntu:

```bash
./project_voorbeeldoplossing.exe
```


Veel succes!

